body{
    background-color:black;
    padding:0px;
}



@media screen and (max-width: 767px) {
    .videos .video {
      width: 100%;
      object-fit:fill;
      position: relative;
      
    }}
  

nav 
{
display: flex;
justify-content: center;
background-image: linear-gradient(to right, #ffc115 50%, #1a1a1a 50%);
height: 13%;
position: fixed;
width: 100%;
z-index: 999;
}

.sigma_logo img
{
height: 110%;
width: auto;
z-index: 999;
}
